<h3>Congratulation</h3>
<h4> you booked <%= @booking.animal.name %> from <%= @booking.start_date %> to <%= @booking.end_date%></h4>
<h3> the total price is <%= ((@booking.end_date - @booking.start_date).to_i + 1) * @booking.animal.price_per_day %> $</h3>
<h3> <%= link_to "more info about the owner",  profil_path(@booking.animal.user) %></h3>
