<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1451587910776-e7c3c3a94441?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);">
  <div class="container">
    <h2>
      Do you want to rent <span id="banner-typed-text"></span>
    </h2>
    <h2>Safarent brings <strong>exotic animals</strong> to <strong>wonderfull people</strong>!</h2>
    <p>You can book whenever you want a beautiful exotic animal from nice owners.</p>
    <%= simple_form_for :search, wrapper: :inline_form, url: "/animals",html: { class: "form-inline" }, method: "get" do |f| %>
      <%= f.input :location, placeholder: 'Enter a city', as: :string, required: false, input_html: { class: "mb-2 mr-sm-2"} %>
      <%= f.input :start_date, placeholder: 'Start Date',as: :string, required: false, input_html: { class: "mb-2 mr-sm-2", id: "range_start" } %>
      <%= f.input :end_date, placeholder: 'End Date', as: :string, required: false, input_html: { class: "mb-2 mr-sm-2",id: "range_end" } %>
      <%= f.button :submit, "Let's find your animal", class: "btn btn-warning mb-2" %>
    <% end %>
  </div>
</div>








