<div class="background mb-0">
<div class="container" >

  <h1 class ="header"> All animals available in <%= @location %> </h1>
  <div class="cards">
    <% @animals.each do |animal| %>

      <% if animal.photos.attached? %>
        <div class="card-animal">
          <div class="animal-img" style="background-image: url('<%= cl_image_path animal.photos[0].key %>')"></div>
          <div class="card-animal-infos">
            <div>
              <h2><%= animal.name %></h2>
              <p><%= animal.animal_type %></p>
              <%= link_to("details", animal_path(animal)) %>
            </div>
            <h2 class="card-animal-pricing"><%= animal.price_per_day %>€</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-animal-user avatar-bordered" />
          </div>
        </div>


      <% else %>
        <div class="card-animal">
          <img src="https://images.unsplash.com/photo-1551972251-12070d63502a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" />
          <div class="card-animal-infos">
            <div>
              <h2><%= animal.name %></h2>
              <p><%= animal.animal_type %></p>
              <%= link_to("details", animal_path(animal)) %>
            </div>
            <h2 class="card-animal-pricing"><%= animal.price_per_day %>€</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-animal-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
