<div class="background mb-0">
<% category = ["mammal", "fish", "bird"] %>
<% price = ["Less than 50$", "Between 50$ and 200$", "Between 200$ and 500$", "More than 500$"] %>
  <!-- Animals cards -->
  <div class="container" >
    <h1 class ="header"> All animals available
      <% unless @location.blank? %>
        in <%= @location.capitalize %>
      <% end %>
    </h1>

    <%= simple_form_for :preferences, wrapper: :inline_form, url: "/animals",html: { class: "form-inline" },method: "get" do |f| %>
      <% unless params[:search].nil? || params[:search][:location].nil? %>
        <%= f.input :location, as: :hidden, input_html: { value: params[:search][:location] } %>
      <% end %>
      <%= f.input :category, collection: category, placeholder: 'All animals', required: false, input_html: { class: "mb-2 mr-sm-2"} %>
      <%= f.input :price, collection: price, placeholder: 'All prices', required: false, input_html: { class: "mb-2 mr-sm-2"} %>
      <%= f.button :submit, "Find my animal", class: "btn btn-warning mb-2" %>
    <% end %>

    <div class="cards">
      <% @animals.each do |animal| %>

        <% if animal.photos.attached? %>
          <div class="card-animal">
            <%= cl_image_tag(animal.photos[0].key, width: 150, height: 150, crop: :thumb, gravity: :face) %>
            <div class="card-animal-infos">
              <div>
                <h2><%= animal.name %></h2>
                <p><%= animal.animal_type %></p>
                <%= link_to("details", animal_path(animal)) %>
              </div>
              <h2 class="card-animal-pricing"><%= animal.price_per_day %>€</h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-animal-user avatar-bordered" />
            </div>
          </div>


        <% else %>
          <div class="card-animal">
            <img src="https://images.unsplash.com/photo-1551972251-12070d63502a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" />
            <div class="card-animal-infos">
              <div>
                <h2><%= animal.name %></h2>
                <p><%= animal.animal_type %></p>
                <%= link_to("details", animal_path(animal)) %>
              </div>
              <h2 class="card-animal-pricing"><%= animal.price_per_day %>€</h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-animal-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- End fo animal cards -->

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>


