<h1><%= @animal.name %></h1>
<p><%= @animal.description %></p>
<p><%= @animal.location %></p>

<<<<<<< HEAD
<p> Owner:  <%= @animal.user.email %></p>
<p> <%= link_to "see the owner", profil_path(@animal.user) %> </p>
=======
<%= @animal.photos %>
<% @animal.photos.each do |photo| %>
<%= photo.key %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


>>>>>>> abdb5e19cbfa82673c023ebfd51e300844201913
<p> <%= link_to("edit", edit_animal_path(@animal)) %></p>
