<h1><%= @animal.name %></h1>
<p><%= @animal.description %></p>
<p><%= @animal.location %></p>

<%= @animal.photos %>
<% @animal.photos.each do |photo| %>
<%= photo.key %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


<p> <%= link_to("edit", edit_animal_path(@animal)) %></p>
