



<div class="container">
  <div class="profile-card">
    <img src="<%= cl_image_path @user.photo.key %>" />
    <div class="profile-card-infos">
      <h2><%= @user.first_name %>  <%= @user.last_name %> <%=  %></h2>
      <p><%= @user.description %></p>
      <% if @user == current_user %>
        <%= link_to edit_user_registration_path(@user), class:"no-decoration" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>
    </div>
  </div>




  <% unless @user.bookings.first.nil?  %>
    <div class="profile-category my-booking my-3" id="profile-booking">
      <h3 class="border-bottom">My bookings</h3>
      <div class="profile-cards">
      <% @user.bookings.each do |booking| %>
        <div class="card-profile-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booking.animal.photos.first.key, height: 300, width: 400, crop: :fill %>')">
          <%= booking.animal.name  %>

          <%# if booking.end_date.to_date < Date.today %>
            <%= link_to new_booking_review_path(booking), class:"no-decoration card-footer" do %>
              Add a review
            <% end %>
          <%# end %>


          <p class="card-top">
            <% diff_day = (booking.end_date.to_date - Date.today).to_i %>
            <% if diff_day < 0 %>
              <%= "#{- diff_day} days ago" %>
            <% elsif diff_day < -30 %>
              <%= "More than a month ago" %>
            <% else %>
              <%= "In #{diff_day} days" %>
            <% end %>

          </p>

        </div>
      <%end %>
      </div>
    </div>
  <% end %>


  <% unless @user.animals.first.nil?  %>
    <div class="profile-category my-animals my-3" id="profile-animal">
      <h3 class="border-bottom">My animals</h3>
      <div class="profile-cards">
      <% @user.animals.each do |animal| %>
        <div class="card-profile-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path animal.photos.first.key, height: 300, width: 400, crop: :fill %>')">
          <% if @user == current_user %>
            <%= link_to animal_bookings_path(animal), class:"no-decoration" do %>
              <%= "See bookings for #{animal.name}"  %>
            <% end %>


            <div class="card-top">
              <% last_booking = animal.bookings.map{|booking| booking.start_date}.max %>
              <% unless last_booking.nil? %>
                <% diff_day = (last_booking - Date.today).to_i %>
                <% if diff_day > 0  %>
                  <%= "Next booking in #{diff_day} days" %>
                <% end %>
              <% end %>
            </div>

            <div class="card-footer ">
              <%= link_to edit_animal_path(animal), class:"no-decoration" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to animal_path(animal), class:"no-decoration", method: :delete do  %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          <% else %>
            <%= link_to animal_path(animal), class:"no-decoration" do %>
              <%= "Book #{animal.name}"  %>
            <% end %>
          <% end %>
        </div>
      <%end %>
      </div>
    </div>
  <% end %>

  <% unless @user.animals.first.nil? || @user.animals.first.reviews.first.nil? %>
    <div class="p-3 mb-5 rounded">
      <div class="profile-category my-review  d-flex flex-column justify-content-between p-3">
          <h3 class="border-bottom"> My reviews </h3>
          <div class="reviews">
            <% @user.animals.each do |animal|  %>
              <% animal.reviews.each do |review| %>
                <% if review.review_type == "owner" %>
                  <div class="profile-review">
                    <!-- Code one review here -->
                    <img src="<%= cl_image_path review.booking.user.photo.key %>" alt="review.booking.user.first_name" class="profil-pic">
                    <div class="review-info">
                      <h4 class ="user-name"> <%= "#{review.booking.user.first_name} books to #{@user.first_name}"  %></h4>
                      <p class = "review-description"><%= "#{review.rating}/5 " %><i class="fas fa-star"></i></p>
                      <p class = "review-description"> <%= "#{review.description}" %></p>
                    </div>
                  </div>
                <% elsif review.review_type == "renter" %>
                  <div class="profile-review">
                    <!-- Code one review here -->
                    <img src="<%= cl_image_path review.booking.user.photo.key %>" alt="review.booking.user.first_name" class="profil-pic">
                    <div class="review-info">
                      <h4 class ="user-name"> <%= "#{review.booking.user.first_name} rents to #{@user.first_name}"  %></h4>
                      <p class = "review-description"><%= "#{review.rating}/5 " %><i class="fas fa-star"></i></p>
                      <p class = "review-description"> <%= "#{review.description}" %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>










</div>
