



<div class="container">
  <div class="profile-card">
    <img src="<%= cl_image_path @user.photo.key %>" />
    <div class="profile-card-infos">
      <h2><%= @user.first_name %>  <%= @user.last_name %></h2>
      <p><%= @user.description %></p>
      <% if @user == current_user %>
        <%= link_to edit_user_registration_path(@user), class:"no-decoration" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>
    </div>
  </div>




  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="#profile-booking">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Much longer nav link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>







  <% unless @user.bookings.first.nil?  %>
    <div class="my-booking my-3" id="profile-booking">
      <h3>My bookings</h3>
      <div class="profile-cards">
      <% @user.bookings.each do |booking| %>
        <div class="card-profile-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booking.animal.photos.first.key, height: 300, width: 400, crop: :fill %>')">
          <%= booking.animal.name  %>

          <% if booking.end_date.to_date < Date.today %>
            <%= link_to new_booking_review_path(booking), class:"no-decoration card-footer" do %>
              Add a review
            <% end %>
          <% end %>


          <p class="card-top">
            <% diff_day = (booking.end_date.to_date - Date.today).to_i %>
            <% if diff_day < 0 %>
              <%= "#{- diff_day} days ago" %>
            <% elsif diff_day < -30 %>
              <%= "More than a month ago" %>
            <% else %>
              <%= "In #{diff_day} days" %>
            <% end %>

          </p>

        </div>
      <%end %>
      </div>
    </div>
  <% end %>


  <% unless @user.animals.first.nil?  %>
    <div class="my-animals my-3">
      <h3>My animals</h3>
      <div class="profile-cards">
      <% @user.animals.each do |animal| %>
        <div class="card-profile-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path animal.photos.first.key, height: 300, width: 400, crop: :fill %>')">
          <% if @user == current_user %>
            <%= link_to animal_bookings_path(animal), class:"no-decoration" do %>
              <%= "See bookings for #{animal.name}"  %>
            <% end %>




            <div class="card-footer ">
              <%= link_to edit_animal_path(animal), class:"no-decoration" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to animal_path(animal), class:"no-decoration", method: :delete do  %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          <% else %>
            <%= link_to animal_path(animal), class:"no-decoration" do %>
              <%= "Book #{animal.name}"  %>
            <% end %>
          <% end %>
        </div>
      <%end %>
      </div>
    </div>
  <% end %>

    <% unless @user.animals.first.nil? || @user.animals.first.reviews.first.nil? %>
    <div class="my-reviews my-3">
      <h3>My reviews</h3>
      <div class="profile-cards">
        <% @user.animals.each do |animal|  %>
          <% animal.reviews.each do |review| %>
            <% if review.review_type == "owner" %>
              <li>
                <%= "#{review.rating} - #{review.description}"%>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
